<form class="form-group" #form="ngForm" (ngSubmit)="searchcall()">
  <input class="form-control mr-sm-2" type="text" placeholder="Search" 
  aria-label="Search" [(ngModel)]="model.name" #name="ngModel" name="name">

  <button type="button" class="btn btn-secondary" type="submit">
    Search
  </button>
</form>

<div *ngIf="documents != null">
  <mat-toolbar>
    <span>Searched documents for tag <strong>{{model.name}}</strong></span>
  </mat-toolbar>
    <div *ngFor="let document of documents | async">
      <mat-card>
        <mat-card-title>{{document.Name}}</mat-card-title>
        <mat-card-content>
          <p>{{document.Text}}</p>
        </mat-card-content>
      </mat-card>
    </div>
</div>

<br />
<mat-toolbar>
  <span>Open Issues</span>
</mat-toolbar>
<mat-nav-list>
  <mat-list-item (click)="redirectFunction('/showIssue', issue.ID)" *ngFor="let issue of issues | async">
    {{issue.Name}}
    <input type="button" (click)="redirectFunction(issue.Location)" value="File"/>
  </mat-list-item>
</mat-nav-list>

<button mat-fab class="btnAdd" style="float: right" (click)="redirectFunction('/createIssues')">
  <mat-icon>add</mat-icon>
</button>