<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
  <div class="container" id="header">
    <h1 class="text-center">Benutzer anlegen</h1>
  </div>
  <div class="container" id="loginpage">
    <form class="form-horizontal" method="POST" action="">
      <div class="row"> 
        <div class="col-sm-4">
          <label name="lblVorname" id="lblVorname" for="txtVorname">
            Benutzername
          </label>
        </div>
        <div class="col">
          <input type="text" id="txtVorname" name="txtVorname" placeholder="Benutzername" class="form-control input-md" required>
        </div>
      </div>
      <div class="row"> 
        <div class="col-sm-4">
          <label name="lblPasswort" id="lblPasswort" for="pwPasswort"> 
            Passwort
          </label>
        </div>
        <div class="col">
            <input type="password" id="pwPasswort" name="pwPasswort"
            placeholder="Passwort" class="form-control input-md"
            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"
            title="Gross- und Kleinschreibung, Zahlen" required>
        </div>
      </div>
      <div class="row"> 
        <div class="col-sm-4">
          <label name="lblPasswortConfirm" id="lblPasswortConfirm" for="pwPasswortConfirm">
            Passwort wiederholen
          </label>
        </div>
        <div class="col">
            <input type="password" id="pwPasswortConfirm"
            name="pwPasswortConfirm" placeholder="Passwort wiederholen"
            class="form-control input-md"
            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$"
            title="Gross- und Kleinschreibung, Zahlen" required>
        </div>
      </div>
      <div class="row"> 
        <div class="col">
          <a href="" class="btn btn-danger" name="btnAbbrechen" (click)="redirectFunction('/register')" id="btnAbbrechen"> Abbrechen</a>
        </div>
        <div class="col" align="right">
          <input type="submit" name="btnSpeichern" id="btnSpeichern" class="btn btn-md btn-default btn-block" value="Registrieren">
        </div>
      </div>
    </form>
  </div>
</body>