.container 
{
    padding-top: 5rem;
}

.nav 
{
    background-color: white;
}

.navbar-default
{
    background-color: #11387D;
    margin-bottom: 0px;
}

.navbar-header > a.navbar-brand
{
    color: white;
    font-family: "Neue Helvetica W01","Helvetica Neue",Helvetica,BlinkMacSystemFont,"Segoe UI",Roboto,Arial,sans-serif;
    font-weight: bold;
}

.navbar-default .navbar-nav li {
    background-color: #11387D;
    display: block;
}

.navbar-nav > li > a.navbar-custom
{
    color: white;
    font-family: "Neue Helvetica W01","Helvetica Neue",Helvetica,BlinkMacSystemFont,"Segoe UI",Roboto,Arial,sans-serif;
}

#btnToggle 
{
    color: white;
    font-weight: normal;
    font-size: 30px;
}

#navbarsExampleDefault 
{
    background-color: #11387D;
    margin-top: 50px;
}

#navbarsExampleDefault > ul
{
    padding: 20px 0px 20px 50px;
}

#navbarsExampleDefault a
{
    color: white;
    font-size: 16px;
    font-family: "Neue Helvetica W01","Helvetica Neue",Helvetica,BlinkMacSystemFont,"Segoe UI",Roboto,Arial,sans-serif;
    
}
