<!-- Source: https://x-team.com/blog/webcam-image-capture-angular/ -->
<h1>Create issue</h1>

<form class="form-group" (ngSubmit)="createIssue()" #form="ngForm">
  <div class="form-group">
    <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="name" [(ngModel)]="model.name" #name="ngModel" name="name" required>
  </div>
  <div class="form-group">
    <textarea class="form-control" id="description" placeholder="Description" rows="3" [(ngModel)]="model.description" name="description" required></textarea>
  </div>

  <div class="form-group" style="object-fit: fill">
    <video #video id="video" width="100%" [hidden]="!isCameraShown || isPhotoTaken" autoplay></video> 
  </div>
  <div class="form-group" style="object-fit: fill">
    <img #image />
    <canvas #canvas id="canvas" hidden></canvas>
  </div>

  <button mat-fab type="button" [hidden]="isCameraShown" (click)="isCameraShown = true">
    <mat-icon>camera_alt</mat-icon>
  </button>
  <button mat-fab type="button" [hidden]="!isCameraShown" (click)="capture(); isPhotoTaken = true">
    <mat-icon>camera_alt</mat-icon>
  </button>
  <button mat-fab class="btnAdd" style="float: right" type="submit">
    <mat-icon>add</mat-icon>
  </button>
</form>